Data Exploration and Preprocessing:

In [1]:
import pandas as pd

# Load the dataset
file_path = r"D:\Excelr\Data Science\Data Science Assignment\EDA2\EDA2\adult_with_headers.csv"
df = pd.read_csv(file_path)
data_info = df.info()
summary_stats = df.describe(include='all')
missing_values = df.isnull().sum()

data_info, summary_stats, missing_values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

(None,
                  age workclass        fnlwgt education  education_num  \
 count   32561.000000     32561  3.256100e+04     32561   32561.000000
 unique           NaN         9           NaN        16            NaN
 top              NaN   Private           NaN   HS-grad            NaN
 freq             NaN     22696           NaN     10501            NaN
 mean       38.581647       NaN  1.897784e+05       NaN      10.080679
 std        13.640433       NaN  1.055500e+05       NaN       2.572720
 min        17.000000       NaN  1.228500e+04       NaN       1.000000
 25%        28.000000       NaN  1.178270e+05       NaN       9.000000
 50%        37.000000       NaN  1.783560e+05       NaN      10.000000
 75%        48.000000       NaN  2.370510e+05       NaN      12.000000
 max        90.000000       NaN  1.484705e+06       NaN      16.000000

              marital_status       occupation relationship    race    sex  \
 count                 32561            32561        32561   32561  32561
 unique                    7               15            6       5      2
 top      Married-civ-spouse   Prof-specialty      Husband   White   Male
 freq                  14976             4140        13193   27816  21790
 mean                    NaN              NaN          NaN     NaN    NaN
 std                     NaN              NaN          NaN     NaN    NaN
 min                     NaN              NaN          NaN     NaN    NaN
 25%                     NaN              NaN          NaN     NaN    NaN
 50%                     NaN              NaN          NaN     NaN    NaN
 75%                     NaN              NaN          NaN     NaN    NaN
 max                     NaN              NaN          NaN     NaN    NaN

         capital_gain  capital_loss  hours_per_week  native_country  income
 count   32561.000000  32561.000000    32561.000000           32561   32561
 unique           NaN           NaN             NaN              42       2
 top              NaN           NaN             NaN   United-States   <=50K
 freq             NaN           NaN             NaN           29170   24720
 mean     1077.648844     87.303830       40.437456             NaN     NaN
 std      7385.292085    402.960219       12.347429             NaN     NaN
 min         0.000000      0.000000        1.000000             NaN     NaN
 25%         0.000000      0.000000       40.000000             NaN     NaN
 50%         0.000000      0.000000       40.000000             NaN     NaN
 75%         0.000000      0.000000       45.000000             NaN     NaN
 max     99999.000000   4356.000000       99.000000             NaN     NaN  ,
 age               0
 workclass         0
 fnlwgt            0
 education         0
 education_num     0
 marital_status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital_gain      0
 capital_loss      0
 hours_per_week    0
 native_country    0
 income            0
 dtype: int64)

In [2]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
# Selecting numerical columns
numerical_cols = ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']
# Applying Standard Scaling
standard_scaler = StandardScaler()
standard_scaled_df = pd.DataFrame(standard_scaler.fit_transform(df[numerical_cols]), columns=numerical_cols)
# Applying Min-Max Scaling
min_max_scaler = MinMaxScaler()
min_max_scaled_df = pd.DataFrame(min_max_scaler.fit_transform(df[numerical_cols]), columns=numerical_cols)
# Displaying the scaled datasets
standard_scaled_df.head(), min_max_scaled_df.head()

(        age    fnlwgt  education_num  capital_gain  capital_loss  \
 0  0.030671 -1.063611       1.134739      0.148453      -0.21666
 1  0.837109 -1.008707       1.134739     -0.145920      -0.21666
 2 -0.042642  0.245079      -0.420060     -0.145920      -0.21666
 3  1.057047  0.425801      -1.197459     -0.145920      -0.21666
 4 -0.775768  1.408176       1.134739     -0.145920      -0.21666

    hours_per_week
 0       -0.035429
 1       -2.222153
 2       -0.035429
 3       -0.035429
 4       -0.035429  ,
         age    fnlwgt  education_num  capital_gain  capital_loss  \
 0  0.301370  0.044302       0.800000       0.02174           0.0
 1  0.452055  0.048238       0.800000       0.00000           0.0
 2  0.287671  0.138113       0.533333       0.00000           0.0
 3  0.493151  0.151068       0.400000       0.00000           0.0
 4  0.150685  0.221488       0.800000       0.00000           0.0

    hours_per_week
 0        0.397959
 1        0.122449
 2        0.397959
 3        0.397959
 4        0.397959  )

Applying scaling techniques to the numerical columns:

Standard Scaled Data (first 5 rows):

The values are centered around 0 with a standard deviation of 1. This scaling is beneficial for algorithms that assume normally distributed features.
Min-Max Scaled Data (first 5 rows):

The values are scaled to a range between 0 and 1. This is preferred when the algorithm is sensitive to the scale of input features, like KNN or Neural Networks.
When to Use Each Scaling Technique:

Standard Scaling: Used when the data is normally distributed or when the algorithm assumes data is normally distributed (e.g.Logistic Regression, SVM, PCA).

Min-Max Scaling: Best for algorithms sensitive to the magnitude of values, such as distance-based algorithms like KNN, or when the data is not normally distributed

Encoding Techniques:

In [7]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
# Identifying categorical columns with less than and more than 5 categories
categorical_cols = df.select_dtypes(include=['object']).columns
one_hot_cols = [col for col in categorical_cols if df[col].nunique() < 5]
label_encode_cols = [col for col in categorical_cols if df[col].nunique() >= 5]
# Applying One-Hot Encoding to categorical columns with less than 5 categories
one_hot_encoder = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid multicollinearity
one_hot_encoded_df = pd.DataFrame(one_hot_encoder.fit_transform(df[one_hot_cols]), 
                                  columns=one_hot_encoder.get_feature_names_out(one_hot_cols))
# Applying Label Encoding to categorical columns with more than 5 categories
label_encoder = LabelEncoder()
# Applying Label Encoding to categorical columns with more than 5 categories
label_encoded_df = df[label_encode_cols].apply(label_encoder.fit_transform)
# Concatenating the original dataframe (dropping the encoded categorical columns) with the new encoded columns
encoded_df = pd.concat([df.drop(columns=one_hot_cols + label_encode_cols), one_hot_encoded_df, label_encoded_df], axis=1)

# Display the encoded dataframe
encoded_df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,sex_ Male,income_ >50K,workclass,education,marital_status,occupation,relationship,race,native_country
0,39,77516,13,2174,0,40,1.0,0.0,7,9,4,1,1,4,39
1,50,83311,13,0,0,13,1.0,0.0,6,9,2,4,0,4,39
2,38,215646,9,0,0,40,1.0,0.0,4,11,0,6,1,4,39
3,53,234721,7,0,0,40,1.0,0.0,4,1,2,6,0,2,39
4,28,338409,13,0,0,40,0.0,0.0,4,9,2,10,5,2,5

Encoding Summary:

One-Hot Encoding:
Applied to categorical variables with fewer than 5 categories. It creates binary columns for each category, resulting in a sparse matrix representation.

Label Encoding:
Applied to categorical variables with more than 5 categories. Each category is replaced by a unique integer, which is simpler but can introduce unintended ordinal relationships between categories.

Pros and Cons:

One-Hot Encoding:
Pros:
Does not assume any order between categories.
Suitable for algorithms like tree-based models.
Cons:
Increases dimensionality, leading to the curse of dimensionality, especially when dealing with many categories.

Label Encoding:
Pros:
Simple and efficient for algorithms like decision trees that do not rely on the distance between values.
Reduces memory consumption as it avoids the creation of additional columns.
Cons:
Introduces ordinal relationships where there might not be any, which can confuse algorithms like linear models.

Creating Two New Features

To create new features, we need to identify meaningful combinations between existing features. Here's a rationale for two new features:

Work hours category:
We can create a new feature that categorizes the number of hours per week into groups, such as "part-time", "full-time", or "overtime." This may be useful to assess if working hours correlate with income levels.

Capital Gain/Loss ratio:
A feature combining capital gain and capital loss into a single metric

In [8]:
# Creating the 'work_hours_category' feature
def categorize_hours(hours):
    if hours < 30:
        return 'part-time'
    elif 30 <= hours <= 40:
        return 'full-time'
    else:
        return 'overtime'

df['work_hours_category'] = df['hours_per_week'].apply(categorize_hours)

# Creating the 'capital_gain_loss_ratio' feature (avoiding division by zero)
df['capital_gain_loss_ratio'] = df.apply(lambda row: row['capital_gain'] / (row['capital_loss'] + 1), axis=1)

# Displaying the new features
df[['hours_per_week', 'work_hours_category', 'capital_gain', 'capital_loss', 'capital_gain_loss_ratio']].head()

,hours_per_week,work_hours_category,capital_gain,capital_loss,capital_gain_loss_ratio
0,40,full-time,2174,0,2174.0
1,13,part-time,0,0,0.0
2,40,full-time,0,0,0.0
3,40,full-time,0,0,0.0
4,40,full-time,0,0,0.0

Apply a Transformation to a Skewed Feature

1. Apply a log transformation to normalize its distribution.

In [9]:
import numpy as np

# Applying log transformation to the skewed 'capital_gain' feature (adding 1 to avoid log(0))
df['log_capital_gain'] = np.log(df['capital_gain'] + 1)

# Displaying the original and transformed 'capital_gain' columns
df[['capital_gain', 'log_capital_gain']].head()

   capital_gain  log_capital_gain
0          2174          7.684784
1             0          0.000000
2             0          0.000000
3             0          0.000000
4             0          0.000000

Outlier Detection and Removal using Isolation Forest

Explanation:
The Isolation Forest algorithm works by isolating observations by randomly selecting a feature and then randomly selecting a split value between the maximum and minimum values of the selected feature.

In [3]:
from sklearn.ensemble import IsolationForest

# Select numerical columns for outlier detection
numerical_data = df.select_dtypes(include=['int64', 'float64'])
# Initialize and fit the Isolation Forest model
iso_forest = IsolationForest(contamination=0.05, random_state=42)
outliers = iso_forest.fit_predict(numerical_data)
# Label the outliers (outliers are labeled as -1, inliers as 1)
df['outlier'] = outliers
# Removing the outliers from the dataset
df_cleaned = df[df['outlier'] == 1].drop(columns=['outlier'])
# Display the result after removing outliers
df_cleaned.head(), df.shape, df_cleaned.shape

(   age          workclass  fnlwgt   education  education_num  \
 0   39          State-gov   77516   Bachelors             13
 1   50   Self-emp-not-inc   83311   Bachelors             13
 2   38            Private  215646     HS-grad              9
 3   53            Private  234721        11th              7
 4   28            Private  338409   Bachelors             13

         marital_status          occupation    relationship    race      sex  \
 0        Never-married        Adm-clerical   Not-in-family   White     Male
 1   Married-civ-spouse     Exec-managerial         Husband   White     Male
 2             Divorced   Handlers-cleaners   Not-in-family   White     Male
 3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
 4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital_gain  capital_loss  hours_per_week  native_country  income
 0          2174             0              40   United-States   <=50K
 1             0             0              13   United-States   <=50K
 2             0             0              40   United-States   <=50K
 3             0             0              40   United-States   <=50K
 4             0             0              40            Cuba   <=50K  ,
 (32561, 16),
 (30933, 15))

Applying Predictive Power Score (PPS)

Explanation:
PPS (Predictive Power Score) measures the ability of one feature to predict another.

Calculating the PPS Matrix

In [11]:
import ppscore as pps

# PPS matrix for the dataset
pps_matrix = pps.matrix(df_cleaned)

# Display the matrix as a pivot table for easier interpretation
pps_matrix[['x', 'y', 'ppscore']].pivot(columns='x', index='y', values='ppscore')

C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(

x,age,capital_gain,capital_gain_loss_ratio,capital_loss,education,education_num,fnlwgt,hours_per_week,income,log_capital_gain,marital_status,native_country,occupation,race,relationship,sex,work_hours_category,workclass
y,,,,,,,,,,,,,,,,,,
age,1.000000,0.000000,0.000000,0.000000,0.025273,0.025273,0.000000,0.003298,3.272325e-02,0.000000,2.007649e-01,0.000000,1.649581e-02,0.000000e+00,1.421602e-01,4.609088e-04,4.930080e-03,2.336817e-02
capital_gain,0.000000,1.000000,0.998004,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.998004,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
capital_gain_loss_ratio,0.000000,0.998004,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.998004,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
capital_loss,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
education,0.045709,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.019415,1.154761e-02,0.000000,3.695214e-02,0.000000,1.506372e-01,0.000000e+00,2.622766e-02,0.000000e+00,1.857561e-02,0.000000e+00
education_num,0.000000,0.000000,0.000000,0.001558,1.000000,1.000000,0.000000,0.000000,1.074893e-02,0.000000,0.000000e+00,0.000000,1.434782e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
fnlwgt,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000361,0.000000e+00,2.840006e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
hours_per_week,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.759623e-01,0.000000e+00
income,0.001414,0.161264,0.161264,0.136334,0.203320,0.203320,0.000000,0.005864,1.000000e+00,0.161264,8.875171e-04,0.001038,1.356093e-07,1.356093e-07,1.778500e-02,1.356093e-07,1.356093e-07,1.356093e-07
log_capital_gain,0.000000,0.999733,0.999733,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
marital_status,0.324156,0.000000,0.000000,0.000000,0.090855,0.090855,0.039000,0.161122,1.785891e-01,0.000000,1.000000e+00,0.000000,1.791162e-01,3.623029e-02,6.546106e-01,2.293179e-01,1.038545e-01,0.000000e+00
native_country,0.000000,0.000000,0.000000,0.000000,0.053904,0.053904,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
occupation,0.037389,0.000000,0.000000,0.000000,0.058222,0.058222,0.015563,0.039549,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000e+00,0.000000e+00,1.756312e-02,0.000000e+00,0.000000e+00,6.592121e-02
race,0.000000,0.000477,0.000477,0.000000,0.000000,0.000000,0.000000,0.000507,0.000000e+00,0.000477,0.000000e+00,0.175827,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
relationship,0.200416,0.000000,0.000000,0.000000,0.002930,0.002930,0.039934,0.116295,0.000000e+00,0.000000,4.702604e-01,0.000000,1.343421e-01,4.119154e-03,1.000000e+00,1.955444e-01,5.665135e-02,0.000000e+00
sex,0.017394,0.000000,0.000000,0.000000,0.000000,0.000000,0.081212,0.218122,0.000000e+00,0.000000,3.247781e-01,0.000000,3.386961e-01,6.706094e-02,4.149050e-01,1.000000e+00,1.594892e-01,0.000000e+00
work_hours_category,0.037420,0.000000,0.000000,0.004633,0.013318,0.013318,0.000000,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,6.987142e-02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.280094e-01
workclass,0.014721,0.000000,0.000000,0.002664,0.000614,0.000614,0.000000,0.016947,1.532256e-07,0.000000,1.532256e-07,0.000000,2.131890e-01,1.532256e-07,1.532256e-07,1.532256e-07,1.532256e-07,1.000000e+00

Comparing PPS with Correlation

In [13]:
# Correlation matrix
correlation_matrix = df_cleaned.corr()

# Display correlation matrix
correlation_matrix

C:\Users\Admin\AppData\Local\Temp\ipykernel_11972\769450561.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df_cleaned.corr()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,capital_gain_loss_ratio,log_capital_gain
age,1.000000,-0.079330,0.022207,0.037334,0.041012,0.075057,0.037334,0.031847
fnlwgt,-0.079330,1.000000,-0.043653,-0.019930,-0.020161,-0.024854,-0.019930,-0.021206
education_num,0.022207,-0.043653,1.000000,0.063049,0.080886,0.135266,0.063049,0.050666
capital_gain,0.037334,-0.019930,0.063049,1.000000,-0.039360,0.022868,1.000000,0.925307
capital_loss,0.041012,-0.020161,0.080886,-0.039360,1.000000,0.051583,-0.039360,-0.043779
hours_per_week,0.075057,-0.024854,0.135266,0.022868,0.051583,1.000000,0.022868,0.016256
capital_gain_loss_ratio,0.037334,-0.019930,0.063049,1.000000,-0.039360,0.022868,1.000000,0.925307
log_capital_gain,0.031847,-0.021206,0.050666,0.925307,-0.043779,0.016256,0.925307,1.000000

PPS vs. Correlation:

PPS: Captures non-linear relationships and works for both numerical and categorical variables.
Correlation: Only captures linear relationships and works well with numerical variables.